.calculator {
    width: 200px;
    margin: 0 auto;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
  }
  
  button {
    width: 45px;
    height: 45px;
    font-size: 20px;
  }